<hr class="style17">
<br>
<h3>Welcome to the Community! <i><u>Register your Business here:</u></i></h3>
<div class="business-registration" >
  <form name="registrationForm" id="business-registration" ng-submit="registerBusiness(busName, busSpecialty, busAddress, busPhone, busEmail, busWebsiteLink, busPic, busMenu, busDescription)" >
    <div class="form-group">
      <label>Business Name:</label><input type="text" ng-model="busName" ng-required='true' class="form-control" placeholder="Your Business" />
    </div>
    <div class="form-group">
      <label>Business Address:</label><input type="text" ng-model="busAddress" ng-required='true' class="form-control" placeholder="Your Business' Physical Address"/>
    </div>
    <div class="form-group">
      <label>Food Specialty:</label><br>
      <select name="singleSelect" id="singleSelect" ng-model="busSpecialty" ng-required="true" class="form-control">
      <option value="">What is your artisanal specialty?</option>
      <option value="Artisanal Cheese">Artisanal Cheese</option>
      <option value="Bakery">Bakery</option>
      <option value="Cured Meats">Cured Meats</option>
      <option value="Wine and Spirits">Wine and Spirits</option>
      <option value="Salad and Sandwiches">Salad and Sandwiches</option>
      <option value="Seafood">Seafood</option>
      <option value="Desserts">Desserts</option>
    </select>
    </div>
    <div class="form-group">
      <label>Business Number:</label><input type="number" ng-model="busPhone" ng-required='true' class="form-control" placeholder="Your Phone Number"/>
    </div>
    <div class="form-group">
      <label>Business Email:</label><input type="email" ng-model="busEmail" ng-required='true' class="form-control" placeholder="Contact E-mail"/>
    </div>
    <div class="form-group">
      <label>Web Address:</label><input type="url" ng-model="busWebsiteLink" ng-required='true' class="form-control" placeholder="http://www.example.com"/>
    </div>
    <div class="form-group">
      <label>Upload Pic:</label><input type="file" class="form-control" name="pic" accept="image/*" ng-model="busPic" fileread/>
      <small class="text-muted">'.jpg' or '.png' Files</small>
    </div><br>
    <div class="form-group">
      <label>Upload Menu:</label><input type="file" class="form-control" name="menu" accept="image/*" ng-model="busMenu" menuread/>
      <small class="text-muted">In PDF Format</small>
    </div>
    <div class="form-group"><br>
      <label>Business Description:</label>
        <div id="business-description">
          <textarea form="business-registration" ng-required='true' class="form-control" rows="3" cols="100" ng-model="busDescription"></textarea>
        </div>
    </div>
    <p></p>
    <input type="submit" value="submit" ng-disabled="registrationForm.url.$invalid" ng-click="go('/profile')" />
  </form>
</div>
