<!-- <div class="title"><h1><a href="#/">Artisanal</a></h1></div> -->
<hr class="style17">
<br>
<div id="SpecialtySelectionType">
  <form name="userDirectoryForm">
    <label for="singleSelect">Please choose from the following specialty types: </label>
    <!--option types for the below selection can be found in controller file named UserCtrl.js -->
    <select ng-options="option for option in listOfTypes"
            ng-model="selectedType"
            ng-change="getBusiness()">
    <!-- code in line 10 is not needed, it is just there so when page loads, it defaults to that selection -->
    <option value="">---Please Select---</option>
    </select><br><br>
    <!-- code in line 13 also is not needed for final product, it is just there to show value of selection -->
    <!-- <tt>Item selected: {{selectedType}}</tt> -->
    <br>
  </form>
  <div class="business-list" >
    <ul ng-repeat="item in data.list | orderBy: 'picture'">

        <li><img class="images" ng-src="{{item.picture}}"/></li>
        <li>{{item.company}}</li>
        <li>{{item.phoneNumber}}</li>
        <li>{{item.address}}</li><br>
        <li>{{item.description}}</li>
        <li><a href="{{item.link}}">{{item.link}}</a></li>
        <br>
        <hr class="style2">
        <br>
    <br>
    </ul>
  </div>
</div>
