<hr class="style17">
<br>
<h4>Welcome to the Community! <i><u>Please enter registration information below:</u></i></h4>
<div class="user-registration" >
  <form name="registrationForm" id="user-registration" ng-submit="registerUser(userName, userPassword,fullName, userAddress, userPhone, userEmail, userPic)">
    <div class="form-group">
      <label>Username:</label><input type="text" ng-model="userName" ng-required='true' class="form-control" placeholder="Username" />
      <label>Password:</label><input type="text" ng-model="userPassword" ng-required='true' class="form-control" placeholder="Password" />
      <label>Email:</label><input type="email" ng-model="busEmail" ng-required='true' class="form-control" placeholder="Contact E-mail"/>
      <label>Upload Pic:</label><input type="file" class="form-control" name="pic" accept="image/*" ng-model="busPic" />
      <small class="text-muted">'.jpg' or '.png' Files</small>
    </div><br>
    <input type="submit" value="Create Account"/>
  </form>
</div>
