<h1>Artisanal</h1>

<h2>Welcome! Please login below:<h2>

<div class="user_login">
  <form name="userLogin" ng-submit="loginUser()">
    <label>Username:</label><input type="text" ng-required="true" placeholder="username" /><br>
    <label>Password:</label><input type="text" ng-required="true" placeholder="password" /><br>
    <input type="submit" value="Login" />
  </form>
</div>

<div class='user_registration'>
  <p>Don't have an account, <a href="#/registerUser">click here to register</a> or <a href="#/busDirectory">login as a guest user</a>.</p>
</div>