<h1>Artisanal</h1>

<form name="userDirectoryForm">
  <label for="singleSelect">Please choose from the following specialty types: </label>
  <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
  <option value="">---Please Select---</option>
  <!--The below value types will be replaced with whatever specialty types we want to have -->
  <option value="type1">Type 1</option>
  <option value="type2">Type 2</option>
  <option value="type3">Type 3</option>
  <option value="type4">Type 4</option>
  <option value="type5">Type 5</option>
  <option value="type6">Type 6</option>
  <option value="type7">Type 7</option>
  <option value="type8">Type 8</option>

  <tt>Item selected: {{data.singleSelect}}</tt>
</form>
