http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/*===========================================================================================================================

General styles

===========================================================================================================================*/

body{
  background-color: #e9ece5;
}
/*===========================================================================================================================

Navigation and Header

===========================================================================================================================*/
nav {
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 0px;
  background-color: #f8f8f8;
}

nav a {
  color:#3b3a36;
}

li a {
  color:#3b3a36;
}

.navbar-brand {
  font-family:'Special Elite', cursive;
  font-weight: 400;
  font-size: 40px !important;
}
.navbar{
  margin-bottom: 0px !important;
}

div.col-lg-6{
  float:right;
  padding-top: 8px;
}

h2{
  font-family: 'Open sans',sans-serif;
  font-weight: 800;
}



p{
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
  color:#e9ece5;
}

img.nav-link{
  margin-top: 10px;
}
span.name{
  margin-top: 10px;
}
/*===========================================================================================================================

Carousel

===========================================================================================================================*/

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top: 0px;
  background-color: #f8f8f8;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  font-family:'Special Elite', cursive;
  font-weight: 400;

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.2;
}

/*===========================================================================================================================

Business Categories (underneath Carousel)

===========================================================================================================================*/
/*Categories*/
.otherbiz {
  margin-top: 150px;
  padding: 50px;
  background-color:#3b3a36;
}

.img-circle {
  width:200px;
    height:200px;
    border-radius:50%;
    display:block;
    background-position-y:25%
}

  img.img-circle {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px #e9ece5;
}

h3>a{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color:#e9ece5;

}

h3 {
    text-align: center;
}

/*===========================================================================================================================

featurettes

===========================================================================================================================*/
.featurette{
  background-color: #c0dfd9;
  margin-bottom: 0 !important;
}
h2.featurette-heading{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 50px
}

p.lead{
  color:#3b3a36;
  font-family: 'Open sans',sans-serif;
  font-weight: 400;

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.featurette-divider {
  margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media{(min-width:1200px)
  .row.featurette {
    max-width: 970px;
  }
}

.row.featurette{
  padding: 50px;
}

img.featurette-image.img-responsive.img-circle.center-block{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: solid 5px #3b3a36;
  width:300px;
  height:300px;
  border-radius:50%;
  display:block;
  background-position-y:25%
}

/*===========================================================================================================================

User_login

===========================================================================================================================*/
.userlogin{
  margin-top: 250px;
  margin-bottom: 330px;

}

h1.brand-login{
  font-family: 'Marck Script', cursive;
  font-weight: 700;
  font-size: 200px;
  color:#f2b632;
  text-align: center;

}

h2.form-signin-heading{
  color:#e9ece5;
}

span.remember-me{
  color: #e9ece5;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-heading{
  font-family:'Special Elite', cursive;
  font-weight: 400;
  color:#3b3a36;
}

.remember-me{
  color:#3b3a36;
}

a.already{
  color:#e9ece5;
}


#login {
  background:url("images/cheese.jpg")
  center center;
  width: 100%;
  height: 100%;
  background-size:cover;
  overflow: hidden;
  /*margin-bottom: 50px;*/
}

button.btn.btn-primary.btn-block{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  position: relative;
  display:block;
  background-color: #3b3a36;
  border-color: #3b3a36;
}
button.btn.btn-sm.btn-secondary{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  position: relative;
  display:block;
  background-color: #3b3a36;
  border-color: #3b3a36;
  color:#e9ece5;
}

/*===========================================================================================================================

Registration

===========================================================================================================================*/
h3.biz-reg{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 100px;
  padding-bottom: 30px;
}

btn.group{
  margin-top: 100px;
}
div.col-xs-4.user-registration{
  padding: 10px;
  margin-top:50px;
  margin-bottom: 210px;
}

div.col-xs-4{
  padding: 10px;
  text-align: justify !important;
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
}

label.col-xs-4{
  text-align: left !important;
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
}

div.business-registration{
  margin-top: 100px;
  margin-bottom: 90px;
  width: 50% !important;
  padding-left: 100px;
}

h3.biz-reg{
  font-family:'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 60px;
  padding-bottom: 40px;
}
/*===========================================================================================================================

footer

===========================================================================================================================*/
footer{
    background-color: #f8f8f8;
}
footer>div.container{
  width: 100%;
  clear:both;
  background-color: #f8f8f8;
  bottom:0;
  padding:20px;
}
span.brand-icon{
  font-family:'Special Elite', cursive;
  font-weight: 400;
  color: #3b3a36 !important;
}

p.footer-links>a{
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
  color: #3b3a36 !important;
  text-decoration: none;
}
span.copyright{
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
  color: #3b3a36!important;
}
p.pull-right{
  font-family: 'Open sans',sans-serif;
  font-weight: 400;
  color: #3b3a36!important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* map */

#map {
  height:200px; 
  width: 300px;
}
