<div class="container-fullwidth">
  <nav class="navbar navbar-fixed-top navbar-light bg-faded artNav">
  <a class="navbar-brand" ng-href="home">Artisanal</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" ng-href="#/home">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-href="#/register">Register</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" ng-href="#/user_login">Login</a>
    </li>
    <!--     <li class="nav-item">
      <a class="nav-link" ui-sref="#">Settings</a>
    </li> -->
    <li class="nav-item" ng-controller="RootController">
      <img class="nav-link" src={{img}} style="width:25px;height:25px;">
      <span>{{name | capitalizeFirst}}</span>
    </li>
  </ul>

  <form ng-controller ="search.ctrl" ng-submit= "searchBusinesses()">
    <div class="col-lg-6" >
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="userQuery">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" >Go!</button>
        </span>
      </div>
    </div>
  </form>
</nav>
</div>
